<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>:d</key>
	<string>001</string>
	<key>:D</key>
	<string>001</string>
	<key>:-)</key>
	<string>002</string>
	<key>:x</key>
	<string>003</string>
	<key>:X</key>
	<string>003</string>
	<key>[dizzy]</key>
	<string>004</string>
	<key>:-(</key>
	<string>005</string>
	<key>:p</key>
	<string>006</string>
	<key>:P</key>
	<string>006</string>
	<key>[crazy]</key>
	<string>007</string>
	<key>[hum]</key>
	<string>008</string>
	<key>[cute]</key>
	<string>009</string>
	<key>[angry]</key>
	<string>010</string>
	<key>[sweat]</key>
	<string>011</string>
	<key>:)</key>
	<string>012</string>
	<key>[sleepy]</key>
	<string>013</string>
	<key>:$</key>
	<string>014</string>
	<key>[razz]</key>
	<string>015</string>
	<key>[cool]</key>
	<string>016</string>
	<key>[bad luck]</key>
	<string>017</string>
	<key>:o</key>
	<string>018</string>
	<key>:O</key>
	<string>018</string>
	<key>[curse]</key>
	<string>019</string>
	<key>[contempt]</key>
	<string>020</string>
	<key>[booger]</key>
	<string>021</string>
	<key>[lust]</key>
	<string>022</string>
	<key>[clap]</key>
	<string>023</string>
	<key>:(</key>
	<string>024</string>
	<key>[think]</key>
	<string>025</string>
	<key>[sick]</key>
	<string>026</string>
	<key>:*</key>
	<string>027</string>
	<key>[hug]</key>
	<string>028</string>
	<key>[supercilious]</key>
	<string>029</string>
	<key>[right hum]</key>
	<string>030</string>
	<key>[left hum]</key>
	<string>031</string>
	<key>[quiet]</key>
	<string>032</string>
	<key>[grievance]</key>
	<string>033</string>
	<key>[yawn]</key>
	<string>034</string>
	<key>[beat]</key>
	<string>035</string>
	<key>:?</key>
	<string>036</string>
	<key>;)</key>
	<string>037</string>
	<key>[shy]</key>
	<string>038</string>
	<key>[gonna cry]</key>
	<string>039</string>
	<key>:h</key>
	<string>040</string>
	<key>[silent]</key>
	<string>041</string>
	<key>[strong]</key>
	<string>042</string>
	<key>[weak]</key>
	<string>043</string>
	<key>[awesome]</key>
	<string>044</string>
	<key>[meaningless]</key>
	<string>045</string>
	<key>[onlooker]</key>
	<string>046</string>
	<key>[mighty]</key>
	<string>047</string>
	<key>[camera]</key>
	<string>048</string>
	<key>[car]</key>
	<string>049</string>
	<key>[plane]</key>
	<string>050</string>
	<key>[love]</key>
	<string>051</string>
	<key>[ultraman]</key>
	<string>052</string>
	<key>[rabbit]</key>
	<string>053</string>
	<key>[panda]</key>
	<string>054</string>
	<key>[no]</key>
	<string>055</string>
	<key>[ok]</key>
	<string>056</string>
	<key>[like]</key>
	<string>057</string>
	<key>[tempt]</key>
	<string>058</string>
	<key>[yeah]</key>
	<string>059</string>
	<key>[love u]</key>
	<string>060</string>
	<key>[fist]</key>
	<string>061</string>
	<key>[poor]</key>
	<string>062</string>
	<key>[shake hand]</key>
	<string>063</string>
	<key>[rose]</key>
	<string>064</string>
	<key>&lt;3</key>
	<string>065</string>
	<key>[broken heart]</key>
	<string>066</string>
	<key>[pig]</key>
	<string>067</string>
	<key>[coffee]</key>
	<string>068</string>
	<key>[mic]</key>
	<string>069</string>
	<key>[moon]</key>
	<string>070</string>
	<key>[sun]</key>
	<string>071</string>
	<key>[beer]</key>
	<string>072</string>
	<key>[adorable]</key>
	<string>073</string>
	<key>[gift]</key>
	<string>074</string>
	<key>[follow]</key>
	<string>075</string>
	<key>[clock]</key>
	<string>076</string>
	<key>[bike]</key>
	<string>077</string>
	<key>[cake]</key>
	<string>078</string>
	<key>[scarf]</key>
	<string>079</string>
	<key>[glove]</key>
	<string>080</string>
	<key>[snow]</key>
	<string>081</string>
	<key>[snowman]</key>
	<string>082</string>
	<key>[hat]</key>
	<string>083</string>
	<key>[leaf]</key>
	<string>084</string>
	<key>[football]</key>
	<string>085</string>
</dict>
</plist>
